@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
}
.upper {
    text-transform: uppercase;
}.blue-bar {
    background-color:rgb(68, 119, 224);
    color: white;    
}
.blue-bar > .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 20px;
    
}
.blue-bar .container div {
    margin: 0 15px;
    font-size: 11px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
img {
    height: 60px;
}
ul {
    display: flex;
    align-items: center;
    list-style: none;

}
li {
    font-size: 13px;
    padding:  0 15px;
    height: 80px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 80px;
    border-bottom: 3px transparent solid; 
}
li:hover {
    border-color: rgb(68, 119, 224);
    color: rgb(68, 119, 224);
}

input {
    border: none;
    border-bottom: rgb(68, 119, 224) 2px solid;
    text-transform: capitalize;
    width: 100px;
    text-align: right;
    padding-bottom: 5px;

    &::-moz-placeholder {
        color: black;
    }

    &:-ms-input-placeholder {
        color: black;
    }

    &::placeholder {
        color: black;
    }

    &:focus-visible {
        outline: none;
    }

}



