.blue-bar {
    background-color:rgb(68, 119, 224);
    color: white;    
}
.blue-bar > .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 20px;
    
}
.blue-bar .container div {
    margin: 0 15px;
    font-size: 11px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
img {
    height: 60px;
}
.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;

}
.navbar ul li {
    font-size: 13px;
    padding:  0 15px;
    height: 80px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 80px;
    border-bottom: 3px transparent solid; 
}
.navbar ul li:hover {
    border-color: rgb(68, 119, 224);
    color: rgb(68, 119, 224);
}

.navbar input {
    border: none;
    border-bottom: rgb(68, 119, 224) 2px solid;
    text-transform: capitalize;
    width: 100px;
    text-align: right;
    padding-bottom: 5px;
    
}
.navbar input::placeholder {
    color: black;
}

.navbar input:focus-visible {
    outline: none;
}

